*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
footer{
    width: 100%;
    background:linear-gradient(rgba(53, 51, 66, .8),rgba(53, 51, 66, .8)),url(assets/images/mapping.jpg) no-repeat;
    background-size: cover;
    padding: 120px 150px 300px 150px;
}
.footer_inner{
    width: 90%;
    margin: auto;
    /* padding: 100px 0px 250px 0px; */
}
.seogram{
    width: 25%;
    float: left;
    clear: right;

}
.seogram h2{
    font-size: 28px;
    font-weight: 500;
    font-family: "Work Sans", sans-serif;
    color: #ffffff;
    margin-bottom: 20px;
}
.seogram p{
    font-size: 16px;
    font-weight: 400;
    font-family: "Work Sans", sans-serif;
    color: #898798;
    margin-bottom: 10px;
    line-height: 1.5;
}
.seogram ul li {
    list-style: none;
    margin-top: 10px;
}
.seogram ul li a{
    text-decoration: none;
    color: #898798;
    font-size: 16px;
    font-weight: 400;
    font-family: "Work Sans", sans-serif;
}
.seogram ul li a:hover{
    color: #ffffff;
}
.seogram small{
    color: #898798;
    font-size: 16px;
    font-weight: 400;
    font-family: "Work Sans", sans-serif;
    margin-top: 15px;
}
.seogram p a{
    text-decoration: none;
    color: #898798;
    font-size: 16px;
    font-weight: 400;
    font-family: "Work Sans", sans-serif;
}
.seogram p a:hover{
    color: #ffffff;
}
.seogram small a:hover{
    color: #ffffff;
}
.seogram small a{
    text-decoration: none;
    color: #898798;
    font-size: 16px;
    font-weight: 400;
    font-family: "Work Sans", sans-serif;
}
.seogram i{
    width: 10%;
    height: 10%;
    border-radius: 50%;
    background-color: #ffffff;
    padding: 15px 0px 15px 6px;
}
.seogram .fa-square-twitter{
    margin-left: 10px;
}
.seogram .fa-github{
    margin-left: 10px;
}
.seogram .fa-linkedin{
    margin-left: 10px;
}
.seogram input{
    width: 250px;
    height: 45px;
    border-radius: 5px;
    padding-left: 20px;
}
.seogram input:focus{
    outline: none;
}
.seogram button{
    width: 250px;
    height: 45px;
    border-radius: 5px;
    margin-top: 5px;
    background-color: #40d48a;
}
.seogram button a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    font-family: "Work Sans", sans-serif;
    color: #ffffff;
}
.seogram button:hover{
    background-color: #898798;
}
.seogram button a:hover{
    color: #ffffff;
}
.seogram button:focus{
    outline: none;
}


